@use "../../styles/colors";

.card {
  max-width: 339px;
  min-height: 443px;
  width: 100%;
  height: auto;
  border-radius: 15px !important;
}

.media {
  position: relative;
  border-radius: 15px;
  margin: 20px 0px 0px 0px;
  width: 309px !important;
  height: 285px;
}

.title {
  max-width: 235px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.price {
  position: relative;
  top: -5px;
  color: colors.$secondary_main;
}

.likes {
  box-sizing: border-box;
  padding: 15px;
  width: 70px;
  height: 33px;
  border: 2px solid;
}

.imgContainer {
  position: relative;
}

.card-content {
  padding-bottom: 14px !important;
}
